In [1]:
var = None
var is not None

False

In [3]:
a = {'1':1, '2':2}
'1' in a

True

In [6]:
a.values()

dict_values([1, 2])

In [7]:
for c in [1,2,4]:
    print(c)

1
2
4

In [8]:
for i,j in enumerate([1,2,3]):
    print(i, j)

0 1
1 2
2 3

In [21]:
for row in range(1, 5):
    if row == 3:
        print('')
        continue
    for col in range(1, 6):
        if col < 5:
            print(row * col, end='\t')
        else:
            print(row * col)

1	2	3	4	5
2	4	6	8	10

4	8	12	16	20